@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .prose {
    @apply max-w-[70ch];
  }
  
  .prose a {
    @apply text-blue-600 dark:text-blue-400 no-underline hover:underline;
  }
} 